<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProiectIS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProiectIS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li id="login" class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Log in</a>
                        </li>
                        <li id="logout" class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogoutUser">Log out</a>
                        </li>
                    </ul>
                </div>
                <button class="btn" style="float: right;" id="nam"></button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>

    

     <script src="@Url.Content("~/jquery-ui-1.13.0.custom/jquery-ui.min.js")" type="text/javascript"></script>
  <link rel="stylesheet" href="@Url.Content("~/jquery-ui-1.13.0.custom/jquery-ui.min.css")" type="text/css">
    @RenderSection("Scripts", required: false)
</body>
</html>
<script>
    const loginElement=document.getElementById("login");
    const logoutElement=document.getElementById("logout");
    const usernameElement=document.getElementById("nam");
    var variable;
    window.addEventListener("load",function (){
        
      variable= '@Context.Session.GetString("Nume")';
      console.log(variable);
      if(variable==null||variable.length==0){
          loginElement.classList.remove('hide');
          logoutElement.classList.add('hide');
          usernameElement.classList.add('hide');
      }else{
            loginElement.classList.add('hide');
          logoutElement.classList.remove('hide');
          usernameElement.classList.remove('hide');
          usernameElement.innerText=variable;
          var res='@Context.Session.GetString("Rol")';
          usernameElement.addEventListener('click', function(e){
               if (res.localeCompare("PROFESOR") == 0)
                location.href="/Profesor/Index";
            else
                location.href="/Student/Index";

          })
      }
    },false)
</script>